<!DOCTYPE html>
<html>

<head>
    <title>AngularJS * ToDo MVC</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="node_modules\todomvc-app-css\index.css">
    <link rel="stylesheet" type="text/css" href="node_modules\todomvc-common\base.css">
</head>

<body ng-app="todomvc">
    <ng-view />
    <script type="text/ng-template" id="todomvc-index.html">
        <section id="todoapp">
            <header id="header">
                <h1>todos</h1>
                <!-- 新增任务 -->
                <form id="todo-form" ng-submit="addTodo()">
                    <input type="text" id="new-todo" placeholder="待办事项" ng-model="newTodo" autofocus>
                </form>
            </header>
            <section id="main">
                <!-- 全选/全不选 任务 -->
                <input type="checkbox" id="toggle-all" ng-click="markAll(allChecked)" ng-model="allChecked">
                <ul id="todo-list">
                    <li ng-repeat="todo in todos track by $index" ng-class="{completed: todo.completed, editing:todo === editTodo}">
                        <div class="view">
                            <input type="checkbox" class="toggle" ng-model="todo.completed">
                            <label ng-dblclick="showEdit(todo)">{{todo.title}}</label>
                            <!-- 删除任务 -->
                            <button class="destroy" ng-click="deleteTodo($index)"></button>
                        </div>
                        <!-- 编辑任务 -->
                        <form ng-submit="saveEdit(todo)">
                            <input type="text" class="edit" ng-blur="saveEdit(todo)" ng-model = "todo.title" index="{{$index}}" todo-focus = "todo === editTodo" todo-escape="revertEdit(todo)">
                        </form>
                    </li>
                </ul>
            </section>
            <footer id="footer">
                <span id="todo-count"><strong>{{todoCount}}</strong></span>
                <ul id="filters">
                    <li>
                        <a href="#/">All</a>
                        <a href="#/active">Active</a>
                        <a href="#/completed">Completed</a>
                    </li>
                </ul>
                <button id="clear-completed" ng-click="clearCompleted()">清除完成项</button>
            </footer>
        </section>
    </script>
    <script src="node_modules/todomvc-common/base.js"></script>
    <script src="node_modules/angular/angular.js"></script>
    <script src="node_modules/angular-route/angular-route.js"></script>
    <script src="node_modules/angular-resource/angular-resource.js"></script>
    <script src="js/app.js"></script>
</body>

</html>
